CONFIG_DEFAULT_USE_ENERGY_AWARE=y
CONFIG_CPU_FREQ_GOV_SCHEDUTIL=y
CONFIG_CPU_FREQ_GOV_INTERACTIVE=n
CONFIG_CPU_BOOST=n
CONFIG_PELT_UTIL_HALFLIFE_16=y
CONFIG_WQ_POWER_EFFICIENT_DEFAULT=y
CONFIG_STUNE_ASSIST=y
CONFIG_CPUSET_ASSIST=y
CONFIG_ENERGY_MODEL=y
CONFIG_LEGACY_ENERGY_MODEL_DT=y
CONFIG_LEGACY_EM_FREQ_TUPLE=y
CONFIG_MSM_PERFORMANCE_HOTPLUG_ON=y
CONFIG_MSM_PERFORMANCE_CPUFREQ_LIMITS_VOTING_ONLY=y
